<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Room Service{{#if title}} -  {{title}}{{/if}} | The Landon Hotel</title>
        <meta name="description" content="No matter what you're craving, Restaurant to Room has you covered. Our fast and friendly delivery service brings you hot, fresh food, from a diverse choice of local restaurants." />
        <link rel="stylesheet" href="/stylesheets/wp-backgrounds.css" type='text/css' media='all' />
        <link rel='stylesheet' href="/stylesheets/mjCont.css" type='text/css' media='all' />
        <link rel='stylesheet' href='/stylesheets/front.css' type='text/css' media='all' />
        <link rel='stylesheet' href='/stylesheets/style.css' type='text/css' media='all' />
        <link id="twentytwelve-fonts-css" media="all" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,latin-ext" rel="stylesheet">
        <script type='text/javascript' src='/js/jquery.js'></script>
        <script type='text/javascript' src='/js/wp-backgrounds.js'></script>
        <script type='text/javascript' src="/js/main.js"></script>
    </head>
    
    <body>SHIT</body>
    
</html>